<div class="input-group">
  <input type="text" name="email" class="form-control" placeholder="Email" aria-describedby="sizing-addon2">
</div>

<div class="input-group">
  <input type="text" name="fullname" class="form-control" placeholder="Full Name" aria-describedby="sizing-addon2">
</div>

<div class="input-group">
  <input type="text" name="phone" class="form-control" placeholder="Phone Number" aria-describedby="sizing-addon2">
</div>

<input class="form-submit" type="submit" name="submit" value="Submit" />
